<style>
    .radio, .checkbox {position: relative; bottom: 8px;}
    .rowradio + .rowradio .radio {margin-top: 0px;}
    input[type="checkbox"], input[type="radio"] {position: relative; bottom: 1px;}
    input[type='number'] {-moz-appearance: textfield;}
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
    select.form-control {-webkit-appearance: none; -moz-appearance: none; appearance: none; background: url("/img/chevron_down.svg") calc(100% - 17px) 60% no-repeat; background-size: auto 11px;}
    select.form-control::-ms-expand {display: none;}
</style>





    <form id="contact" class="form autofill" method="POST" data-netlify="true">
        <input type="hidden" name="_next" value="https://bibpress.com" />


    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_subject" value="New submission!" />







                <div class="row form-group">
                    <div class="col-sm-6">
                        <label  for="firstname">First name</label>
                        <input type="text" name="firstname" id="firstname" class="form-control"  required>
                    </div>
                    <div class="col-sm-6">
                        <label  for="lastname">Last name</label>
                        <input type="text" name="lastname" id="lastname" class="form-control"  required>
                    </div>
                </div>








                <div class="row form-group">
                    <div class="col-sm-12">
                        <label  for="email">Email address</label>
                        <input type="email" name="email" id="email" class="form-control"  required>
                    </div>
                </div>





        <div class="row form-group">
            <div class="col-sm-12">
                <label  for="message">Message (optional)</label>
                <textarea name="message" name="message" id="message" cols="30" rows="10" class="form-control"  ></textarea>
            </div>
        </div>






        <div class="row checkbox">
            <div class="col-sm-12">
                <div class="checkbox">
                    <label><input type="checkbox" name="terms" value="I understand that my information will not be used for spam." required>I understand that none of my information will be used for spam.</label>
                </div>
            </div>
        </div>






        <div class="form-group">
            <input type="submit" value="Submit form" class="btn btn-primary" />
        </div>




</form>
