<!DOCTYPE html>
<html>
     <head>
          {% include head.html %}
     </head>
     <body>
          {{ content }}



     <footer>
          {% include footer.html %}
     </footer>

          <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>



     {% include better-forms.html %}
     {% include cookie-consent.html %}

     </body>

</html>
